<div class="container-fluid py-2">
    <ul class="nav justify-content-end align-items-center">
        <li class="nav-item">
    <a class="nav-link" href="https://about.google/?utm_source=google-IN&utm_medium=referral&utm_campaign=hp-footer&fg=1">Gmail</a>
        </li>
        <li class="nav-item">
    <a class="nav-link" href="https://about.google/?utm_source=google-IN&utm_medium=referral&utm_campaign=hp-footer&fg=1">Images</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="https://www.google.co.in/intl/en/about/products" role="button">
    <img src="https://ssl.gstatic.com/gb/images/bar/al-icon.png" width="24" height="24"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://accounts.google.com/SignOutOptions?hl=en&continue=https://www.google.com/&ec=GBRAmgQ" role="button">
    <img src="https://lh3.google.com/u/0/ogw/AF2bZyj33VosMMcjO2DZjMlELiKJ9uVoojVD75TYrY3E=s32-c-mo" class="rounded-circle" width="30" height="30" ></a>
        </li>
      </ul>
</div>