<div class="container central">
    <div class="row text-center">
    <div class="col-10 mx-auto">
        <img class="img-responsive" src="assets/go1.png" width="272" height="92"/>
    </div>
    </div>
    <div class="row  py-4">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 mx-auto ">
        <input class=" search-container form-control" type="text" placeholder="Search...">
    </div>
    </div>
    <div class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-end">
        <button type="button" class="btn btn-light btn-sm px-3">Google Search</button>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-light btn-sm px-3">I'm Feeling Lucky</button>
    </div>
    </div>
    <div class="row d-flex text-center  py-4">
    <div class="col-12 language">
      Google offered in:
      <a href="https://www.google.com/setprefs?sig=0_hsu-sn7_z58BhYvoxucIvRmQYeI%3D&amp;hl=hi&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiup46L87mFAxUaI0QIHRpRDdIQ2ZgBCBw">हिन्दी&nbsp;&nbsp;</a>
      <a href="https://www.google.com/setprefs?sig=0_hsu-sn7_z58BhYvoxucIvRmQYeI%3D&amp;hl=bn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiup46L87mFAxUaI0QIHRpRDdIQ2ZgBCB0">বাংলা &nbsp;&nbsp;</a>
      <a href="https://www.google.com/setprefs?sig=0_hsu-sn7_z58BhYvoxucIvRmQYeI%3D&amp;hl=te&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiup46L87mFAxUaI0QIHRpRDdIQ2ZgBCB4">తెలుగు &nbsp;&nbsp;</a>
      <a href="https://www.google.com/setprefs?sig=0_hsu-sn7_z58BhYvoxucIvRmQYeI%3D&amp;hl=mr&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiup46L87mFAxUaI0QIHRpRDdIQ2ZgBCB8">मराठी&nbsp;&nbsp;</a>
      <a href="https://www.google.com/setprefs?sig=0_hsu-sn7_z58BhYvoxucIvRmQYeI%3D&amp;hl=ta&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiup46L87mFAxUaI0QIHRpRDdIQ2ZgBCCA">தமிழ்&nbsp;&nbsp;</a>
      <a href="https://www.google.com/setprefs?sig=0_hsu-sn7_z58BhYvoxucIvRmQYeI%3D&amp;hl=gu&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiup46L87mFAxUaI0QIHRpRDdIQ2ZgBCCE">ગુજરાતી&nbsp;&nbsp;</a>
      <a href="https://www.google.com/setprefs?sig=0_hsu-sn7_z58BhYvoxucIvRmQYeI%3D&amp;hl=kn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiup46L87mFAxUaI0QIHRpRDdIQ2ZgBCCI">ಕನ್ನಡ&nbsp;&nbsp;</a>
      <a href="https://www.google.com/setprefs?sig=0_hsu-sn7_z58BhYvoxucIvRmQYeI%3D&amp;hl=ml&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiup46L87mFAxUaI0QIHRpRDdIQ2ZgBCCM">മലയാളം&nbsp;&nbsp;</a>
      <a href="https://www.google.com/setprefs?sig=0_hsu-sn7_z58BhYvoxucIvRmQYeI%3D&amp;hl=pa&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwiup46L87mFAxUaI0QIHRpRDdIQ2ZgBCCQ">ਪੰਜਾਬੀ&nbsp;&nbsp;</a>
    </div>
    </div>
</div>