/* You can add global styles to this file, and also import other style files */
a:link{color:black;
    font-family:sans-serif;
    text-decoration:none;
    }
    
a:hover{color:black;
    text-decoration:underline;
    }
body{
    font-size:.8rem  !important;
    }
.bg-grey{
        background-color:#f2f2f2;
        }    
    